*{
  border: 1px solid red;
}
.columns {
  width: 200px;
  float: left;
  margin: 5px;
}

body {
  background-color: #b35900;
  font-family: fantasy;
}

h1 {
  background-color: white;
  background-image: url(../image/dogparade.jpeg);
  background-repeat: repeat-x;
  font-family: "Brush Script MT";
  font-size: 50px;
  text-align: center;
  color: lightblue;
  text-shadow: 3px 3px green;
  padding-top: 100px;
  padding-bottom: 15px;
}

.columns p img {
  height: 150px;
  width: 200px;

}

.aname {
  font-family: "Brush Script MT";
  font-size: 35px;
}

.sidebar {
  font-size: 12px;
  background-color: #ffa64d;
  float: right;
  width: 300px;
  border: 2px solid black;
  padding: 4px;

}

.footer {
  float: left;
  display: block;
  clear: both;
}

@media screen and (max-width: 450px) {
  body {
    background-color: red;
  }
  .sidebar {
    width: 90%;
    float: none;
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .columns {
    width: 200px;
    margin: 5px;
  }
  body {
    background-color: aqua;
  }
}

@media screen and (min-width: 1000px) {
  .columns {
    width
  }
}
