.columns {
  width: 200px;
  float: left;
  margin: 5px;
}

body {
  background-color: #b35900;
  font-family: fantasy;
}

h1 {
  background-color: white;
  background-image: url(../image/dogparade.jpeg);
  background-repeat: repeat-x;
  font-family: "Brush Script MT";
  font-size: 50px;
  text-align: center;
  color: lightblue;
  text-shadow: 3px 3px green;
  padding-top: 100px;
  padding-bottom: 15px;
}

.columns p img {
  height: 150px;
  width: 200px;

}

.aname {
  font-family: "Brush Script MT";
  font-size: 35px;
}

.sidebar {
  font-size: 12px;
  background-color: #ffa64d;
  float: right;
  width: 25%;
  border: 2px solid black;
  padding: 4px;

}

.footer {
  float: left;
  display: block;
  clear: both;
}
